.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 60px 1fr 60px;
  align-items: center;
  justify-items: center;
  min-height: 100vh;
  gap: 64px;
  font-family: var(--font-geist-sans);
  background-color: #f2f2f2;
}

.header {
  width: 100%;
  padding: 10px;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBar {
  width: 80%;
  padding: 10px;
  border-radius: 4px;
  border: none;
  outline: none;
  font-size: 16px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
}

.postsSection {
  background-color: var(--gray-alpha-100);
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 600px;
  text-align: center;
}

.postContainer {
  padding: 10px;
  background-color: white;
  border: 1px solid #ccc;
  margin: 10px 0;
  border-radius: 8px;
}

.rateButton {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}

.rateButton:hover {
  background-color: var(--button-primary-hover);
}

.footer {
  grid-row-start: 3;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

.footer p {
  margin: 0;
}

@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
  }

  .main {
    align-items: center;
  }

  .postsSection {
    width: 100%;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

.addPostButton {
  background-color: #000000; /* Azul ou qualquer cor desejada */
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.addPostButton:hover {
  background-color: #000000; /* Cor de hover */
}